body {
  background: #ccc;
  color: #222;
  font-family: "Open Sans", sans-serif; }

.main {
  width: 80%;
  max-width: 800px;
  margin: 1.5em auto;
  padding: 1.5em;
  background: #ededed;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4); }
